
<p style="font-family: Arial, sans-serif;">Hey <%= name %>,</p>
<p style="font-family: Arial, sans-serif;">
  Thanks for signing up for Nice App. We noticed that you haven't confirmed your account yet, or your previous confirmation link may have expired.
</p>

<p style="font-family: Arial, sans-serif;">To confirm your account, please click the link below:</p>
<p style="font-family: Arial, sans-serif;">
  <br>
  <a href="<%= reconfirmation_url %>" style="color: #fff; background-color: #007bff; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Confirm your account</a>
</p>