
<p style="font-family: Arial, sans-serif;">Hey <%= name %>,</p>
<p style="font-family: Arial, sans-serif;">
  We received a request to reset your password for Nice App. You're one step away
  from regaining access to your account.
</p>

<p style="font-family: Arial, sans-serif;">To reset your password, please click the link below</p>
<p style="font-family: Arial, sans-serif;">
  <br>
  <a href="<%= reset_password_url %>" style="color: #fff; background-color: #007bff; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Reset Your Password</a>
</p>