<p style="font-family: Arial, sans-serif;">Hey <%= name %>,</p>
<p style="font-family: Arial, sans-serif;">
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p style="font-family: Arial, sans-serif;">To get started using Nice App, please confirm your account below:</p>
<p style="font-family: Arial, sans-serif;">
  <br>
  <a href="<%= confirmation_url %>" style="color: #fff; background-color: #007bff; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Confirm your account</a>
</p>